######################################################################
##
## RUnit
## =====================================
##
## inst/NAMESPACE
## =====================================
## initialization of classes, namespace, ...
##
##
##
##
## Version
## =====================================
##  $Id: NAMESPACE 13395 2010-08-30 12:59:44Z Mario $
##
##
######################################################################

import(utils)
import(methods)

export(".setUp",
       ".tearDown",
       "checkTrue",
       "checkEquals",
       "checkEqualsNumeric",
       "checkException",
       "checkIdentical",
       "defineTestSuite",
       "DEACTIVATED",
       "getErrors",
       "inspect",
       "isValidTestSuite",
       "print.RUnitTestData",
       "printTextProtocol",
       "printHTMLProtocol",
       "printHTML.trackInfo",
       "runTestSuite",
       "runTestFile",
       "summary.RUnitTestData",
       "tracker")


S3method(print, RUnitTestData)
S3method(summary, RUnitTestData)

## base class implementations
S3method(isValidTestSuite, default)
S3method(isValidTestSuite, RBaseTestSuite)
S3method(runTestSuite, default)
S3method(runTestSuite, RBaseTestSuite)

export("unitTestSuite")
S3method(runSingleValidTestSuite, RUnitTestSuite)
S3method(isValidTestSuite, RUnitTestSuite)

export("systemTestSuite")
S3method(runSingleValidTestSuite, RSystemTestSuite)
S3method(isValidTestSuite, RSystemTestSuite)
